html {
  scroll-behavior: smooth;
}
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: "Poppins", sans-serif;
     
    }

    body {
        background-color: #f4fdfd;
      
      color: #fff;
       line-height: 1.6; 
      
      
    }

    header {
      text-align: center;
      padding: 2rem 1rem;
      background: rgba(12, 57, 236, 0.968);
      box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
     
      background-size: cover;
      background-repeat:repeat;
    }

    header img {
      width: 140px;
      height: 140px;
      border-radius: 50%;
      border: 4px solid #00bcd4;
      margin-bottom: 1rem;
      transition: transform 0.3s ease;
    }

    header img:hover {
      transform: scale(1.05);
    }

    header h1 {
      font-size: 2rem;
      color: #00bcd4;
    }

    header p {
      font-size: 1rem;
      color: #ccc;
    }

    section {
      padding: 2rem 5%;
    }  

    nav{
        background-color: #00bcd4;
        background-size: cover;
        height: 40px;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
        color: #280ef0;
        gap: 4px;

        
    }
    nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 13px 15px;
  font-size: 20px;
  transition: 0.3s ease;
}
    nav a:hover {
  background: #112bf5;
  color: #000;
    transform: translateY(-2px)}
    .projects {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1.5rem;
      margin-top: 1rem;
    }

   
   

    .card {
      
      border-radius: 12px;
      padding: 1rem;
      text-align: center;
      transition: all 0.3s ease;
      width:auto;
      height:auto;
      margin-top: 2rem;
      border: solid 1px black;
      overflow: hidden;
      word-wrap: break-word;
      overflow-wrap: break-word;
       max-height: 850px; 
      max-width: 600px;
      text-decoration: none;
      background-color: aliceblue;
       box-shadow:0 10px 15px rgba(0,0,0,10);
      
    }
      
      
    
    

  

    .card h2 {
        background-color: #920808;
        font-weight: 500;
        margin-top: 0%;
        background-size: cover;
       margin-bottom: 1rem;
    }
.card ul {
    font-size: 14px;
     align-items: first baseline;
    text-align: left;
    text-decoration: none;
   

}
    ul li::marker {
  color: black;   /* ya jo color chahiye */
  font-size: 17px;
 
}
.card ul a{
  text-align: center;
  text-decoration: none;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 15px;
  font-weight: 900;
  
  
  
}

   

    .contact {
      text-align: center;
      margin-top: 2rem;
      background-color: #0097a7;
      color: black;
      font-weight: 900;
    }
   



    .footer {
      text-align: center;
       /* padding: 1rem; */
      background: rgba(241, 171, 218, 0.918);
      font-size: 0.9rem;
      color: #120c0c;
     
    }
    

/* for mobile view */
    @media (max-width: 600px) {
      header h1 {
        font-size: 1.6rem;
        
      }
      header img {
        width: 110px;
        height: 110px;
      }
      .grid-container {
    grid-template-columns: 1fr;
  }
   section {
    padding: 0px 4px;    
  }
  nav{
/* visibility: hidden; */
font-size: 12px;
font-weight: 500;
height: 25px;
  }
  nav a{
    font-size: 12px;
    padding: 6px 6px;
  }
  .mobile{
    display: none;
   }
    .grid-container {
    grid-template-columns: 1fr;
    width: 100%;
   
  }  
 
    }
